<h2>Make a new</h2>
<div class='pet-form'>
  <%= form_for [@owner, @pet] do |f| %>

  <% if @pet.errors.any? %>
  <div id="error_explanation">
    <h2 class="error-warning">
      <%= pluralize(@pet.errors.count, "error") %> prohibited
      this pet from being saved:
    </h2>
    <ul>
      <% @pet.errors.full_messages.each do |msg| %>
      <li class="error-message"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p class="pet-form-title">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
   <h3> Species </h3>
    <br>
    
	<%= f.label(:species_dog, "Dog") %>
	<%= f.radio_button(:species, "Dog") %>
	<%= f.label(:species_cat, "Cat") %>
	<%= f.radio_button(:species, "Cat") %>
	<%= f.label(:species_hamster, "Hamster") %>
	<%= f.radio_button(:species, "Hamster") %>
	<%= f.label :species_snake, "Snake" %>
	<%= f.radio_button :species, "Snake" %>
	<%= f.label(:species_flamingo, "Flamingo") %>
	<%= f.radio_button(:species, "Flamingo") %>
	<%= f.label(:species_mantis_shrimp, "Mantis Shrimp") %>
	<%= f.radio_button(:species, "Mantis Shrimp") %>
	
  </p>

  <p class="pet-form-submit">
    <%= f.submit %>
  </p>

  <% end %>

</div>